.cart {
    width: 100%;
    max-width: 300px;
    background-color: #fcebf3; 
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    padding: 100px 20px 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    transform: translate(110%, 0);
    transition: all 400ms ease;
    border: 1px solid #986068;
    text-align: center;
}

.cart-itens {
    flex-grow:  1;
    overflow: auto;
}

.cart-resume {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 5px 0 2px;
    border-top:  1px solid #354252;
}

.cart-itens .cart-item:last-child {
    border-bottom: none;
}

.cart--active {
    transform: translate(0, 0);
}

.checkout-button {
    background-color: #5e374d;
    color: white;
    border: none;
    padding: 15px  1px;
    font-size: 1.1rem;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 135px;
    margin-left: 22px;
    margin-right: 22px;
}

.checkout-button:hover {
    background-color: #49313f;
}
