.search_button{
    
    
    
}

.search-barra{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;

}

.search_input{
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;

}