.header{
    background-color: #354252;
    position: fixed;
    width: 100%;
    z-index: 1;
    border: 1px solid #000000
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.search-barra {
    display:  flex;
    background-color: #DFDAD4;
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    box-shadow: 0 1px 2px 0 rgba(83, 83, 83, 0.1);
    gap: 13px;
    padding-right: 13px;
}

.search_input{
    padding: 13px;
    flex-grow: 1;
    
    border: none;
    outline: none;
    font-size: 0.8rem;
    font-weight: 500px;
    border-right: 1px solid #354252;
    background-color: #DFDAD4;;;

}

.search_button{
    background-color:  #DFDAD4;
    border: none;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;

}